{% extends 'navbar.html' %}
{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandomOTP</title>
</head>
<body>
<h1>
    {{ran1}}
</h1>
{% block body %}
<div>
    <div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-6">
        <div>
       <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
            </div>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">SECOND HALF
        <br><br><br>
        <h1></h1>
    {{ ran1 }}
    </div>
</div>
{% endblock %}
</body>
</html>